# Data Manipulation: Forming a Weekly Time Series
You are given a dataset of hotel booking entries. The original dataset by Antonio, Almeida, and Nunes (2019) is available below. The dataset contains an IsCanceled variable (1 = customer cancels their booking, 0 = customer does not cancel their booking).

The dataset contains numerous cancellation entries across the same time period. Your objective is to manipulate this dataset to form a time series of aggregate cancellations per week.

## Goal: 
Obtain sum of cancellation entries per week as:

| Date (Year and Week Number) | IsCanceled |
|-----------------------------|------------|
| 201527 | 100 |
| 201528 | 150 |

In [18]:
import pandas as pd

# Set pandas options to display more columns and rows
pd.set_option("display.max_columns", None)  # Show all columns
pd.set_option("display.max_rows", 50)  # Show up to 50 rows

In [19]:
df = pd.read_csv("data/H1.csv")
df.head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,Meal,Country,MarketSegment,DistributionChannel,IsRepeatedGuest,PreviousCancellations,PreviousBookingsNotCanceled,ReservedRoomType,AssignedRoomType,BookingChanges,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,342,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,0,737,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,0,7,2015,July,27,1,0,1,1,0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NULL,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,0,13,2015,July,27,1,0,1,1,0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,0,14,2015,July,27,1,0,2,2,0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240,NULL,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [20]:
df = df.sort_values(by=["ArrivalDateYear", "ArrivalDateWeekNumber"])
df["Date_Year_Week"] = df["ArrivalDateYear"].astype(str) + df[
    "ArrivalDateWeekNumber"
].astype(str)

cancellations_per_week = df.groupby("Date_Year_Week")["IsCanceled"].sum().reset_index()

In [21]:
cancellations_per_week.head()

  Date_Year_Week  IsCanceled
0         201527          41
1         201528          48
2         201529          87
3         201530          74
4         201531         101